@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');

@font-face {
  font-family: 'Signika';
  src: url('/font/Signika-Regular.woff2');
}

@font-face {
  font-family: 'Signika';
  font-weight: bold;
  src: url('/font/Signika-Bold.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
